body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.hobby {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eaeaea;
    border: 2px solid #ccc;
    border-radius: 8px;
    height: 250px;
    font-size: 18px;
    color: #333;
    text-align: center;
    transition: transform 0.3s;
}

.hobby:hover {
    transform: scale(2.5);
}

.hobby.empty {
    border-style: dashed;
    color: #aaa;
}

 .card-shadow {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}
.hover-scale:hover {
    transform: scale(1.05);
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
}
.icon-list a {
    color: white;
    font-size: 24px;
    margin: 0 10px;
    text-decoration: none;
}

header {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}
header h1 {
    margin: 0;
    font-size: 2em;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 20px 0 0;
}
nav ul li {
    display: inline;
    margin: 0 15px;
}
nav ul li a {
    color: white;
    text-decoration: none;
}
nav ul li a:hover {
    color: #ddd;
}